<html>
    <head>
        <title>Home</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="style/home.css" >
    </head>
    <body>
        <div>
            <div class="topo">
                <a href="/newClient"><button>cadastro</button></a>
            </div>
            <div class="busca">
                <form action="/filter" method="post">
                    <input minlength="2" id="uf" maxlength="14" name="uf" placeholder="uf"/>
                    <input minlength="14" id="cpf_cnpj" maxlength="14" name="cpf_cnpj" placeholder="cpf ou cnpj" />
                    <input name="cep" id="cep" minlength="8" maxlength="8" placeholder="cep" />
                    <button id="btn_filter" disabled>Ok</button>
                </form>
                <a href="/"><button>Atualizar</button></a>
            </div>
            <div class="clientes">
                <ul>
                    <%for(let i =0; i< data.length; i++){%>
                        <li><%= data[i]%><form action="/delete" method="post"><input name="id" type="hidden" value="<%=data[i].id%>"><button>X</button></form></li>
                    <%}%>
                </ul>
            </div>
        </div>
        <script src="/scripts/home.js"></script>
    </body>
</html>