<html>
    <head>
        <title>newClient</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="style/newClient.css" >
    </head>
    <body>
        <div>
            <div class="topo">
                <a href="/"><button>Home</button></a>
            </div>
            <div class="cadastro">
                <form action="/new" method="POST">
                    <input minlength="5" maxlength="50" name="nome" placeholder="nome">
                    <input minlength="14" maxlength="14" name="cpf_cnpj" placeholder="cpf_cnpj">
                    <input minlength="8" maxlength="8" name="cep" placeholder="cep">
                    <select name="descricao_tipo">
                        <option>cpf</option>
                        <option>cnpj</option>
                    </select>
                    <input minlength="5" maxlength="50" name="endereco" placeholder="endereco">
                    <input minlength="1" maxlength="10" name="nro_logradouro" placeholder="logradouro">
                    <input minlength="1" maxlength="30" name="bairro" placeholder="bairro">
                    <input minlength="1" maxlength="50" name="cidade" placeholder="cidade">
                    <input minlength="1" maxlength="2" name="uf" placeholder="estado">
                    <button>Cadastrar</button>
                </form>
            </div>
        </div>
    </body>
</html>